- job_titles = ["sales", "programmer", "UX developer"]

.job-container
  .thumbnail-col
    %img.thumbnail{src: lorem.image('100x100')}
  .description-col
    %a.job-title= job_titles.sample
    .company-name= lorem.words 3
    .address= "Toronto, Ontario"
  .misc-col
    - if recently_updated
      .new= "New- 18px"
    .date= lorem.date