.search-result-tools.cf
  %label
    Sort by
    %select
      %option= "Newest"
      %option= "Nyan Nyan Cat"
      %option= "Woof woof dog"

.search-result-pagination.cf
  %a.previous= "PREVIOUS- 18px"
  %span.numbered-page-links
    %a= "1"
    %a= "2"
    %a= "3"
    %span= "..."
    %a.last-page= "55-14px"
  %a.next= "NEXT"

.search-results
  %section.featured-jobs-container
    %header= "Featured Jobs"
    - (0..2).each do
      = partial('job', locals: {:recently_updated => false})  
  %section.jobs-container
    - (0..5).each do
      = partial('job', locals: {:recently_updated => false})  
    - (0..5).each do
      = partial('job', locals: {:recently_updated => false})  